/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

@import "bootstrap-sprockets"
@import "bootstrap"
  

h1, .h1, h2, .h2, h3, .h3
    margin-top: 0px
#text_white
    color: #FFFFFF

.centered
    float: none
    margin: auto
.top-margin-120   
    margin-top: 120px